<div class="clearfix"></div>
    <div id="footer" class="two-s-footer clearfix">
        <div class="footer-box">
            <div class="container">
                <div class="social-footer">
                    <a class="weiboii" href="http://www.suxing.me" target="_blank"><i class="icon-weibo"></i></a>
                    <a class="ttweiboii" href="http://www.suxing.me" target="_blank" rel="nofollow" title="腾讯微博"><i class="icon-tencent-weibo"></i></a>
                    <a class="mailii" href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&amp;email=suxingme@qq.com" target="_blank"><i class="icon-mail-2"></i></a>
                    <a class="qqii" href="http://wpa.qq.com/msgrd?v=3&amp;uin=25679903&amp;site=qq&amp;menu=yes" target="_blank"><i class="icon-qq"></i></a>
                    <a id="tooltip-f-weixin" class="wxii" href="javascript:void(0);"><i class="icon-wechat"></i></a>
                </div>
                <div class="nav-footer">
                    <a href="http://grace.wpbyg.com/">首页</a>
                    <a target="_blank" href="http://www.suxing.me">购买主题</a>
                    <a href="http://grace.wpbyg.com/category/szj">说正经</a>
                    <a href="http://grace.wpbyg.com/contribute-page">投稿</a>
                    <a href="http://grace.wpbyg.com/sample-page">示例页面</a>
                </div>
                <div class="copyright-footer">
                    <p>Copyright © 2017 <a class="site-link" href="http://grace.wpbyg.com" title="GRACE主题演示站" rel="home">GRACE主题演示站</a> · Powered By WordPress · Theme By <a href="http://www.suxing.me" target="_blank">Suxing</a> </p>
                </div>
                <div class="links-footer">
                    <span>友情链接：</span>
                    <a href="http://www.2zzt.com" title="定位 WordPress主题 中国 标志性门户。" target="_blank">安静的大忽悠大叔</a>
                    <a href="http://www.wpmee.com" target="_blank">维维炒鸡大屌</a>
                    <a href="https://www.suxing.me" target="_blank">苏醒博客</a>
                </div>
            </div>
        </div>
    </div>

    <div class="search-form">
        <form method="get" action="http://grace.wpbyg.com" role="search">
            <div class="search-form-inner">
                <div class="search-form-box">
                    <input class="form-search" type="text" name="s" placeholder="键入搜索关键词">
                    <button type="submit" id="btn-search"><i class="icon-search"></i> </button>

                </div>
                <div class="search-commend">
                    <h4>大家都在搜</h4>
                    <ul>
                        <li><a href="http://grace.wpbyg.com/?s=新能源">新能源</a></li>
                        <li><a href="http://grace.wpbyg.com/?s=汽车">汽车</a></li>
                        <li><a href="http://grace.wpbyg.com/?s=雷军">雷军</a></li>
                        <li><a href="http://grace.wpbyg.com/?s=罗永浩">罗永浩</a></li>
                    </ul>
                </div>
            </div>
        </form>
        <div class="close-search">
            <span class="close-top"></span>
            <span class="close-bottom"></span>
        </div>
    </div>
    <div class="f-weixin-dropdown">
        <div class="tooltip-weixin-inner">
            <h3>关注我们的公众号</h3>
            <div class="qcode">
                <img src="http://www.suxing.me/wp-content/uploads/2015/09/follow-weixin.png" width="160" height="160" alt="微信公众号">
            </div>
        </div>
        <div class="close-weixin">
            <span class="close-top"></span>
            <span class="close-bottom"></span>
        </div>
    </div>
<script type="text/javascript" src="/js/jquery.js?ver=1.12.4"></script>
    <script type="text/javascript" src="/js/jquery-migrate.min.js?ver=1.4.1"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js?ver=Grace7"></script>
    <script type="text/javascript" src="/js/tktick.js?ver=Grace7"></script>
