<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no,minimal-ui">
		<meta name="screen-orientation" content="portrait">
		<meta name="full-screen" content="yes">
		<meta name="x5-orientation" content="portrait">
		<meta name="x5-fullscreen" content="true">
		<meta name="keywords" content="">
		<meta name="description" content="">
		<title>${page_title!''}</title>
		<link rel="shortcut icon" href="/images/favicon.ico">
		<meta name="robots" content="noindex,follow">
		<link rel="stylesheet" id="stylesheet-css" href="/css/style.css" type="text/css" media="all">
		<!-- 点击放大图片 -->
		<link rel="stylesheet" id="default-css" href="/css/default-skin.css" type="text/css" media="all">

