<!doctype html>
<html>
	<head>
		<#assign page_title = "写文章"/>
		<#include "/web/common/header.html"/>
		<link rel="stylesheet" href="/css/wangEditor.min.css" type="text/css" media="all">
		<link rel="stylesheet" href="/css/jquery.tag-editor.css" type="text/css" media="all">
	</head>

	<body class="write">
		<#include "/web/common/nav.html"/>
		<div class="content">
			<div class="main_loop">
				<ul class="main_loop_ul">
					<li class="mian_li">
						<div class="">
							<input class="art_title" name="artTitle" placeholder="标题" />
							<div class="main_others">
								<div class="fl" style="width: 80%;">
									<label style="top: -10px;">标签：</label>
									<input id="article_tags"/>
								</div>
								<div class="fr" style="width: 20%; text-align: right;">
									<label>权限：</label>
									<select>
										<option>公开</option>
										<option>私密</option>
									</select>
								</div>
								<i class="cf"></i>
							</div>
							<div class="main_enter">
								<div id="editor_01" style="height: 600px;"></div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="footer">
			<div class="footer_in">
				<div class="menu">
					<ul>
						<li id="menu-item-36" class=""><a><span><b></b></span></a></li>
						<li id="menu-item-2" class=""><a><span><b></b></span></a></li>
						<li id="menu-item-77" class=""><a><span><b></b></span></a></li>
						<li id="menu-item-281" class=""><a><span><b></b></span></a></li>
						<li id="menu-item-38" class=""><a><span><b></b></span></a></li>
						<li id="menu-item-186" class=""><a><span><b></b></span></a></li>
						<li id="menu-item-63" class=""><a><span><b></b></span></a></li>
						<li id="menu-item-74" class=""><a><span><b></b></span></a></li>
						<li id="menu-item-249" class=""><a><span><b></b></span></a></li>
					</ul>
				</div>
				<p class="f_bq ">
					版权所有 ©2017 WEB主题公园 | <a rel="nofollow" target="_blank"
						href="http://www.miitbeian.gov.cn/"></a> | <a class="banquan"
						target="_blank" href="http://www.themepark.com.cn">theme by
						themepark</a> |
				</p>
			</div>
		</div>
		<a href="#" title="回到顶部" class="top_go_btn"></a>
	</body>
	<#include "/web/common/footer.html"/>
	<script type="text/javascript" src="/js/wangEditor.min.js"></script>
	<script type="text/javascript" src="/js/jquery.tag-editor.min.js"></script>
	<script type="text/javascript" src="/js/tktick.write.js"></script>
	<script type="text/javascript">
	
	</script>
</html>
