<!DOCTYPE html>
<html>

<head>
    <#assign page_title="写文章" />
    <#include "/web/common/header.html"/>
    <style type="text/css">
    	#editor .w-e-text {overflow-y: auto;}
    </style>
</head>

<body class="home blog off-canvas-nav-left">
    <#include "/web/common/nav.html"/>
    <div id="page-content" class="page-content-110" style="padding-bottom: 0;">
        <div class="container">
            <div class="row">
            	<div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="widget suxingme_tag">
                        <h3><span>热门标签</span></h3>
                        <div class="widge_tags">
                            <div class="tag-items"><a href="http://grace.wpbyg.com/tag/%e9%bb%84%e7%89%9b" class="tag-item" title="浏览和黄牛有关的文章">黄牛</a><a href="http://grace.wpbyg.com/tag/%e9%b9%85%e6%af%9b" class="tag-item" title="浏览和鹅毛有关的文章">鹅毛</a><a href="http://grace.wpbyg.com/tag/%e9%ad%85%e6%97%8f"
                                    class="tag-item" title="浏览和魅族有关的文章">魅族</a><a href="http://grace.wpbyg.com/tag/%e9%a6%96%e5%af%8c" class="tag-item" title="浏览和首富有关的文章">首富</a><a href="http://grace.wpbyg.com/tag/%e9%a3%9e%e8%b5%b7" class="tag-item" title="浏览和飞起有关的文章">飞起</a>
                                <a href="http://grace.wpbyg.com/tag/%e9%a3%9e%e4%ba%ba" class="tag-item" title="浏览和飞人有关的文章">飞人</a><a href="http://grace.wpbyg.com/tag/%e9%a2%9c%e8%89%b2" class="tag-item" title="浏览和颜色有关的文章">颜色</a><a href="http://grace.wpbyg.com/tag/%e9%a1%b9%e7%9b%ae" class="tag-item" title="浏览和项目有关的文章">项目</a><a href="http://grace.wpbyg.com/tag/%e9%9f%b3%e4%b9%90"
                                        class="tag-item" title="浏览和音乐有关的文章">音乐</a><a href="http://grace.wpbyg.com/tag/%e9%9e%8b%e9%9d%a2" class="tag-item" title="浏览和鞋面有关的文章">鞋面</a><a href="http://grace.wpbyg.com/tag/%e9%9d%9e%e6%a0%87" class="tag-item" title="浏览和非标有关的文章">非标</a>
                                <a href="http://grace.wpbyg.com/tag/%e9%9c%80%e6%b1%82" class="tag-item" title="浏览和需求有关的文章">需求</a><a href="http://grace.wpbyg.com/tag/%e9%9b%b6%e9%a3%9f" class="tag-item" title="浏览和零食有关的文章">零食</a><a href="http://grace.wpbyg.com/tag/%e9%9b%86%e5%9b%a2" class="tag-item" title="浏览和集团有关的文章">集团</a><a href="http://grace.wpbyg.com/tag/%e9%9b%85%e8%99%8e"
                                        class="tag-item" title="浏览和雅虎有关的文章">雅虎</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-8 col-md-8">
                    <div class="post" style="padding: 0;">
                    	<div id="toolbar" class="toolbar" style="padding: 8px; position: relative; z-index: 1; border-bottom: 1px solid #E5E7EC;"></div>
                    	<div><input type="text" value="" placeholder="这里是文章的标题" style="width: 90%; height: 60px; text-align: center; color: #A3ABBF; font-size: 20px; margin: 0 5%; border-width: 0 0 1px 0;"/></div>
						<div id="editor" style="height: 520px; padding: 0 5%;">
							<p>这里开始写正文</p>
						</div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        /* <![CDATA[ */
        var suxingme_url = {
            "url_ajax": "http:\/\/grace.wpbyg.com\/wp-admin\/admin-ajax.php",
            "url_theme": "http:\/\/grace.wpbyg.com\/wp-content\/themes\/Grace_7_0",
            "roll": "1",
            "headfixed": "1",
            "slidestyle": "index_slide_sytle_3",
            "wow": "1"
        };
        /* ]]> */
    </script>
    <#include "/web/common/footer.html"/>
    <script type="text/javascript" src="/js/wangEditor.min.js?ver=3.04"></script>
    <script type="text/javascript">
    	var E = window.wangEditor
        var editor = new E('#toolbar', '#editor')
        editor.customConfig.menus = [
		    'head',  // 标题
		    'bold',  // 粗体
		    'italic',  // 斜体
		    'underline',  // 下划线
		    'strikeThrough',  // 删除线
		    'foreColor',  // 文字颜色
		    'backColor',  // 背景颜色
		    'link',  // 插入链接
		    'list',  // 列表
		    'justify',  // 对齐方式
		    'quote',  // 引用
		    'emoticon',  // 表情
		    'image',  // 插入图片
		    'table',  // 表格
		    'video',  // 插入视频
		    'undo',  // 撤销
		    'redo'  // 重复
	    ];
	    // 配置服务器端地址
    	editor.customConfig.uploadImgServer = '/common/upload/editor.json';
    	//可自定义filename
    	editor.customConfig.uploadFileName = 'file';
    	editor.customConfig.customAlert = function (info) {
		    // info 是需要提示的内容
		    layer.msg(info);
		}
        editor.create()
    </script>
    <a class="to-top" style="cursor: pointer; position: fixed; right: 38px; bottom: 38px; display: none;"><i class="icon-up-small"></i></a></body>
</html>