<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<link rel="shortcut icon" href="/static/images/favicon.ico">
	<title>云间叙 - 登录</title>
	<link rel='stylesheet' id='main-css'  href='/static/css/sign.css?ver=1.0' type='text/css' media='all' />
</head>
<body>
	<div class="login-banner"><a href="/"></a></div>
	<ul class="login-switch">
		<li class="login-switch-line"></li>
		<li class="login-switch-title">
			<span class="move-login title active">登录</span>
			<span>·</span>
			<span class="move-signup title">注册</span>
		</li>
	</ul>
	<div class="login-box">
		<div class="box-con tran">
			<form id="login-form" autocomplete="off" method="post" action="/sign/session.html">
				<div class="login-con f-l">
					<div class="form-group">
						<input type="text" id="acc_str" name="account" class="validate[required,maxSize[10],funcCall[checkAccount]]" placeholder="手机或邮箱"/>
					</div>
					<div class="form-group">
						<input type="text" id="acc_pwd" name="password" class="validate[required,minSize[6],maxSize[18],funcCall[checkAccNo]]" placeholder="登录密码">
					</div>
					<div class="form-group" style="display:none">
						<input type="text" id="captcha" name="captcha" class="validate[required,minSize[4],maxSize[4],custom[onlyLetterNumber]]" placeholder="验证码" data-prompt-position="centerRight:150,2">
						<img title="点击切换验证码" id="captcha_img" src="" align="middle"/>
					</div>
					<div class="form-group">
						<button type="submit" class="tran pr">
							<span class="tran">登&emsp;录</span>
							<!-- <img class="loading" src="/static/f/images/loading.gif"> -->
						</button>
					</div>
					<div class="from-line"></div>
					<div class="form-group ">
						<input type="checkbox" name="remember" id="remember" checked="checked" value="1"/><label for="remember">记住我</label>
						<a href="javascript:;" class="move-reset">忘记密码？</a>
					</div>
					<div class="form-group">
						<!-- <a href="javascript:;" class="move-other a-tag tran">使用第三方帐号登录<i class="glyphicon glyphicon-circle-arrow-right tran"></i></a> -->
						<span class="other-label">社交账号:
						</span><a href="#" class="other"><i class="weixin"></i>
						</a><a href="#" class="other"><i class="qq"></i>
						</a><a href="#" class="other"><i class="weibo"></i>
						</a><a href="#" class="other"><i class="baidu"></i></a>
					</div>
				</div>
			</form>
			<!-- 登录 -->
			<div class="signup f-l">
				<div class="form-group">
					<div class="signup-form">
						<input type="text" placeholder="邮箱" class="email-mobile">
						<a href="javascript:;" class="signup-select">手机注册</a>
					</div>
				</div>
				<div class="signup-email">
					<div class="form-group">
						<input type="text" placeholder="您的名字">
					</div>
					<div class="form-group">
						<input type="password" placeholder="密码（字母、数字，至少6位）">
					</div>
					<div class="form-group">
						<button type="submit" class="tran pr">
							<a href="javascript:reg();" class="tran">注&emsp;册</a>
							<!-- <img class="loading" src="/static/f/images/loading.gif"> -->
						</button>
					</div>
					<p class="view-clause">点击注册，即同意我们的 <a href="javascript:;">用户隐私条款</a></p>
				</div><!-- 邮箱注册 -->
				<div class="signup-tel" style="display:none">
					<div class="signup-form" id="message-inf" style="display:none">
						<input type="text" placeholder="短信验证码" style="width:180px;">
						<a href="javascript:;" class="reacquire">重新获取（59）</a>
					</div>
					<div class="form-group">
						<button type="submit" class="tran get-message pr">
							<a href="javascript:;" class="tran">获取短信验证码</a>
						</button>
					</div>
					<div class="form-group">
						<!-- <a href="javascript:;" class="move-other a-tag tran">使用第三方帐号登录<i class="glyphicon glyphicon-circle-arrow-right tran"></i></a> -->
						<span class="other-label">使用第三方帐号登录:
						</span><a href="#" class="other"><i class="weixin"></i>
						</a><a href="#" class="other"><i class="qq"></i>
						</a><a href="#" class="other"><i class="weibo"></i>
						</a><a href="#" class="other"><i class="baidu"></i></a>
					</div>
				</div><!-- 手机号码注册 -->
			</div>
			<!-- 注册 -->
			<div class="mimachongzhi f-l">
				<div class="form-group">
					<input type="text" placeholder="请输入您的邮箱地址">
					<span class="error-notic">邮箱格式不正确</span>
				</div>
				<div class="form-group">
					<button type="submit" class="tran pr">
						<a href="javascript:;" class="tran">发送重置密码邮件</a>
						<img class="loading" src="/static/images/loading.gif">
					</button>
				</div>
			</div>
			<!-- 密码重置 -->
			<div class="mobile-success f-l">
				<p>手机号 <span>186****7580</span> 验证成功</p>
				<p>请完善您的账号信息，您也可以<a href="#">绑定现有账号</a></p>
				<div class="form-group">
					<input type="text" placeholder="邮箱" class="email-mobile" onblur="verify.verifyEmail(this)"/>
					<span class="error-notic">邮箱格式不正确</span>
				</div>
				<div class="form-group">
					<input type="text" placeholder="您的名字">
				</div>
				<div class="form-group">
					<input type="password" placeholder="密码（字母、数字，至少6位）" onblur="verify.PasswordLenght(this)"/>
					<span class="error-notic">密码长度不够</span>
				</div>
				<div class="form-group">
					<button type="submit" class="tran pr">
						<a href="javascript:;" class="tran">注册</a>
						<!-- <img class="loading" src="/static/f/images/loading.gif"> -->
					</button>
				</div>
				<p class="view-clause">点击注册，即同意我们的 <a href="#">用户隐私条款</a></p>
			</div>
			<!-- 手机注册成功添补信息 -->
		</div>
	</div>
	<div class="login-footer">
		 &copy; 2016 <a href="/">TKTICK</a> &nbsp; <a href="#">网站地图</a> 
	</div>
</body>
<script type="text/javascript" src="/static/js/jquery-2.1.1.min.js"></script>
<script type="text/javascript">
var type = 'login';
$(function(){
	if(type !== 'reg')
		$('#acc_str')[0].focus();
	$('#acc_pwd').on('focus', function(){
		var ipt = $(this);
		var type = ipt.attr('type');
		if(type !== 'password')
			ipt.attr('type', 'password');
		var src = $('#captcha_img').attr('src');
		if(src.indexOf('/sign/captcha.jpg') === -1)
			$('#captcha_img').attr('src', '/sign/captcha.jpg?'+new Date().getTime()).parent().slideDown();
	});
	$('#captcha_img').on('click', function(){
		$(this).attr('src', '/sign/captcha.jpg?'+new Date().getTime());
	});
	$(".signup-form input").on("focus",function(){
		$(this).parent().addClass("border");
	});
	$(".signup-form input").on("blur",function(){
		$(this).parent().removeClass("border");
	})
	//注册方式切换
	$(".signup-select").on("click",function(){
		var _text=$(this).text();
		var $_input=$(this).prev();
		$_input.val('');
		if(_text=="手机注册"){
			$(".signup-tel").fadeIn(200);
			$(".signup-email").fadeOut(180);
			$(this).text("邮箱注册");
			$_input.attr("placeholder","手机号码");
		}
		if(_text=="邮箱注册"){
			$(".signup-tel").fadeOut(180);
			$(".signup-email").fadeIn(200);
			$(this).text("手机注册");
			$_input.attr("placeholder","邮箱");
		}
	});
	//步骤切换
	var _boxCon=$(".box-con");
	$(".move-login").on("click",function(){
		$('.active').removeClass('active');
		$(this).addClass('active');
		$(_boxCon).css({
			'marginLeft':0
		});
	});
	$(".move-signup").on("click",function(){
		$('.active').removeClass('active');
		$(this).addClass('active');
		$(_boxCon).css({
			'marginLeft':-320
		});
	});
	$(".move-reset").on("click",function(){
		$(_boxCon).css({
			'marginLeft':-640
		});
	});
	$("body").on("click",".move-addinf",function(){
		$(_boxCon).css({
			'marginLeft':-960
		});
	});
	if(type === 'reg')
		$('.move-signup')[0].click();
	//获取短信验证码
	var messageVerify=function (){
		$(".get-message").on("click",function(){
			if(_handle){
				$("#message-inf").fadeIn(100);
				$(this).html('<a href="javascript:;">下一步</a><img class="loading" src="/static/images/loading.gif">').addClass("move-addinf");
			}
		});
	}();
	
});
</script>
</html>