<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.tktick.dao.mapper.TkArticleMapper" >
	<sql id="baseColumnList">
		id, art_title, art_desc, clz_id, user_id, add_time, edit_time, art_state, art_auth, art_cont, art_tag_nms, art_tag_ids, art_imgs
	</sql>
    <select id="selectListByRq" parameterType="java.util.Map" resultType="java.util.Map">
    	select id, art_title, art_desc, clz_id, user_id, add_time, art_tag_nms, art_tag_ids, art_imgs from tk_article 
    	<trim prefix="WHERE" prefixOverrides="AND|OR">
    		<if test="id != null and id != ''">
	    		id = #{id, jdbcType=BIGINT}
	    	</if>
	    	<if test="art_title != null and art_title != ''">
	    		art_title like concat('%', #{art_title, jdbcType=VARCHAR}, '%')
	    	</if>
	    	<if test="clz_id != null and clz_id != ''">
	    		clz_id = #{clz_id, jdbcType=INTEGER}
	    	</if>
	    	<if test="user_id != null and user_id != ''">
	    		and user_id = #{user_id, jdbcType=INTEGER}
	    	</if>
	    	<if test="art_state != null and art_state != ''">
	    		and art_state = #{art_state, jdbcType=INTEGER}
	    	</if>
	    	<if test="art_state == null or art_state == ''">
	    		and art_state <![CDATA[<>]]> -1
	    	</if>
    	</trim>
    </select>
    <select id="selectOneByIdForMap" parameterType="java.util.Map" resultType="java.lang.Long">
    	select <include refid="baseColumnList"/> from tk_article where id = #{id, jdbcType=BIGINT}
    </select>
    <select id="selectComtsAndReplies" parameterType="java.util.Map" resultType="java.util.Map">
    	(
			SELECT
				r.reply_id id,
				r.reply_time time,
				r.reply_cont cont,
				r.comt_id cid,
				'' aid,
				r.user_id uid,
				2 type
			FROM
				tk_reply r
			WHERE
				r.comt_id IN (
					SELECT
						foo.comt_id
					FROM
						(
							SELECT
								c.comt_id
							FROM
								tk_comment c
							WHERE
								c.art_id = #{id, jdbcType=BIGINT}
							LIMIT #{start, jdbcType=INTEGER},
							#{size, jdbcType=INTEGER}
						) AS foo
				)
			LIMIT 0,
			5
		)
		UNION ALL
			(
				SELECT
					c.comt_id id,
					c.comt_time time,
					c.comt_cont cont,
					'' cid,
					c.art_id aid,
					c.user_id uid,
					1 type
				FROM
					tk_comment c
				WHERE
					c.art_id = #{id, jdbcType=BIGINT}
				LIMIT #{start, jdbcType=INTEGER},
				#{size, jdbcType=INTEGER}
			)
    </select>
</mapper>  