<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >  
<mapper namespace="com.tktick.dao.mapper.TkArticleMapper" >
	<sql id="baseColumnList">
		id, art_title artTitle, art_desc artDesc, clz_id clzId, user_id userId, add_time addTime, edit_time editTime, art_state artState, art_auth artAuth, art_cont artCont, art_tag_nms artTagNms, art_tag_ids artTagIds, art_imgs artImgs, art_cover artCover
	</sql>
    <select id="selectListByRq" parameterType="java.util.Map" resultType="java.util.Map">
    	select id, art_title as artTitle, art_desc as artDesc, clz_id as clzId, user_id as userId, add_time as addTime, art_tag_nms as artTagNms, art_tag_ids as artTagIds, art_imgs as artImgs from tk_article 
    	<trim prefix="WHERE" prefixOverrides="AND|OR">
    		<if test="id != null and id != ''">
	    		id = #{id, jdbcType=BIGINT}
	    	</if>
	    	<if test="artTitle != null and artTitle != ''">
	    		art_title like concat('%', #{artTitle, jdbcType=VARCHAR}, '%')
	    	</if>
	    	<if test="clzId != null and clzId != ''">
	    		clz_id = #{clzId, jdbcType=INTEGER}
	    	</if>
	    	<if test="userId != null and userId != ''">
	    		and user_id = #{userId, jdbcType=INTEGER}
	    	</if>
	    	<if test="artState != null and artState != ''">
	    		and art_state = #{artState, jdbcType=INTEGER}
	    	</if>
	    	<if test="artState == null or artState == ''">
	    		and art_state <![CDATA[<>]]> -1
	    	</if>
    	</trim>
    </select>
    <select id="selectOneByIdForMap" parameterType="java.util.Map" resultType="java.lang.Long">
    	select <include refid="baseColumnList"/> from tk_article where id = #{id, jdbcType=BIGINT}
    </select>
    <select id="selectComtsAndReplies" parameterType="java.util.Map" resultType="java.util.Map">
    	(
			SELECT
				r.reply_id id,
				r.reply_time time,
				r.reply_cont cont,
				r.comt_id cid,
				'' aid,
				r.user_id uid,
				2 type
			FROM
				tk_reply r
			WHERE
				r.comt_id IN (
					SELECT
						foo.comt_id
					FROM
						(
							SELECT
								c.comt_id
							FROM
								tk_comment c
							WHERE
								c.art_id = #{id, jdbcType=BIGINT}
							LIMIT #{start, jdbcType=INTEGER},
							#{size, jdbcType=INTEGER}
						) AS foo
				)
			LIMIT 0,
			5
		)
		UNION ALL
			(
				SELECT
					c.comt_id id,
					c.comt_time time,
					c.comt_cont cont,
					'' cid,
					c.art_id aid,
					c.user_id uid,
					1 type
				FROM
					tk_comment c
				WHERE
					c.art_id = #{id, jdbcType=BIGINT}
				LIMIT #{start, jdbcType=INTEGER},
				#{size, jdbcType=INTEGER}
			)
    </select>
</mapper>  